time series and figs between two ways to bias correct temps.pptx
temp_ts_wkgc.png
temp_plot_wkgc_form.png
proj_5yr_temp_plot_combined.png
plot_ts_in_wkgc.png
mean_lats_wkgc.png
mean_latitude_plot_wkgc.png
march_temps_proj_wkgc.png
last20_hbsuit_wkgc.png
last20_consistency09_wkgc.png
last20_consistency05_wkgc.png
habsuit_plot_wkgc.png
cesm_proj_temps_5yr.png
area_plot_wkgc.png
CESM_proj_temp_5yr_sum_plot_wkgc.png
