.Rproj.user
.Rhistory
.RData
.Ruserdata
data
output
older_code
plots
prelim plots from NPRB proposal -- Rogers
.DS_Store
Mapping Code - Bigman
marmap_coord_-158.01;53;179.95;65.75_res_1_anti.csv
ROMS_bottom_temp_EBS_since_1985.RDS
ROMS_bottom_temp_since_1985_merged_ESR.RDS
Alaska_Marine_Management_Areas.gdb
ROMS_experiment_bottom_temperature_MCJW.r
trying to play with area (1).R
rolling mean and sds mean latitude (1).R
02 - plot monthly averaged habitat suitability hindacsts (1).R
00a - download and transform level 2 bottom temp data (1).R
.Rhistory (1)
marmap_coord_-178;56;-158;67_res_1.csv
marmap_coord_-144;52;156;66_res_1_anti.csv
marmap_coord_-158;45.00381;156.4388;69.69127_res_1_anti.csv
marmap_coord_-158;52;150;66_res_1_anti.csv
marmap_coord_-179;52;-144;66_res_1_anti.csv
